
    <header class="head">
        <div class="navbar bg-primary shadow-sm head" >
            <div class="  navbar-logo align-items-center d-flex">
                <h1 style="font-family: cursive;color: aliceblue; font-size: 40px; font-weight: bolder;">cloth</h1><h3  class="store">store</h3>
            
            <div class="form-group "> <input class="form-search" type="text" placeholder="search product" ><i class="bi bi-search icon"></i></div>
    
    </div>
    <button class=" kart-button1"><i class="bi bi-bag-heart"></i></button>
    <button routerLink="cart" class=" kart-button"><i class="bi bi-cart4"></i><span class="badge text-bg-danger badgee" >{{totalitem}}</span></button>
    </div>
    </header>

