.card-top {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background: radial-gradient(circle at top left, rgba(248, 248, 117, 0.5) 0% 40%, rgb(48, 196, 246) 80% 100%);
background-clip: border-box;
border: 0.5px solid rgb(198, 198, 219);
border-radius: .25rem;
}
.item img{
   width: 84px;
   height: 84px;
   margin-left: 80px;
}
.item h6{
    margin-left: 55px;
}
.item{
    margin: 5px 15px;
    text-align: center;
}
.item  a:hover{    
     color: blue;
     
}
.title, .description{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 100ch;
}
.card{
    padding: 20px;
    margin: 50px 50px;
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}
.container2{
    box-shadow: 0 1px 3px rgba(14, 14, 14, 0.1), 
              0 0 5px rgba(2, 124, 245, 0.6), 
              0 0 7px rgba(255, 0, 0, 0.4);
}
.body{
    background: radial-gradient(circle at top right, teal 0%, rgb(0, 128, 128,0.5) 30%, rgb(149, 245, 149) 65%, rgb(72, 194, 231) 100%);
}